.progress-bar {
  background-color: #ebebeb;
  border-radius: 4px;
  height: 8px;
  width: 488px;
}

.progress-bar-inner {
  background: #5a5a5a;
  border-radius: 4px;
  height: 8px;
  width: 0;
  transition: width 0.5s ease-in;
}
