.progress-wrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  position: relative;
}

.progress {
  position: relative;
  border-radius: 50%;
  transform: rotate(-90deg);
}

.progress-indicator {
  position: absolute;
  stroke: url(#GradientColor);
}

@keyframes anim {
  100% {
    stroke-dashoffset: 0;
  }
}

.progress-inner-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5a5a5a;
  background-color: #fff;
  border-radius: 50%;
  width: 252px;
  height: 252px;
  z-index: 1;
}
.progress-inner-content-header {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.progress-inner-content-time-header {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.progress-inner-content-time-counter {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.progress-inner-content-icon {
  margin-top: 32px;
}

.progress-dot {
  position: absolute;
  inset: 5px;
  z-index: 1;
}
.progress-dot::before {
  content: '';
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 37px;
  background: linear-gradient(to right, red, orange);
  background: #673ab7;
  border-radius: 50%;
}
.progress-dot::after {
  content: '';
  position: absolute;
  top: 41px;
  left: 50%;
  transform: translateX(-50%);
  width: 18.5px;
  height: 18.5px;
  background: #ffffff;
  border-radius: 50%;
}
