.info-dialog {
  height: 466px;
  width: 609px;
  left: calc(50% - 304.5px);
  top: 113px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 20px;
  background-color: #EBEBEB;
  border: 1px solid #EBEBEB;
  color: #5A5A5A;
  overflow: hidden;
}
.info-dialog-inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.info-dialog-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.info-dialog-header {
  padding-top: 26px;
  padding-left: 42px;
  padding-bottom: 24px;
  background-color: #FFFFFF;
  height: 133px;
  width: 570px;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.info-dialog-list-wrapper {
  height: 243px;
  width: 570px;
  padding: 10px 5px 13px 21px;
  background-color: #DEDEDE;
  border-radius: 16px;
}
.info-dialog-list {
  width: 542px;
  height: 184px;
  padding: 0;
  margin-right: 5px;
  margin-top: 14px;
  overflow-y: auto;
  overflow-x: hidden;

}
.info-dialog-list-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

/* scrollbar styles */

/* Webkit*/
.info-dialog-list::-webkit-scrollbar-track
{
	border-radius:6px;
	background-color: #DEDEDE;
}

.info-dialog-list::-webkit-scrollbar
{
	width: 10px;
	background-color: #DEDEDE;
}

.info-dialog-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #BEBCBC;
}

/* Firefox */
.info-dialog-list {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: #BEBCBC #DEDEDE;
}